.footer{
    margin-top: 100px;
    background-image: url('http://sbtechnosoft.com/guidepro/images/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #362253;
    color: #ffffff;
    
}
.first_section{
    padding: 50px 0;
    display: flex; 
     align-items: center;
    justify-content: space-around;
}
.input{
    border-radius: 30px 0 0 30px;
    padding-left: 30px;
    min-height: 60px;
    box-shadow: none;
    border: 1px solid #ced4da;
    width: 300px;
}
.button{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem 2rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #ff6158;
    border: 1px solid #ff6158;
    border-radius: 0 30px 30px 0;
    font-weight: bold;
    min-height: 60px;
    cursor: pointer;
}
.second_section{
    border-top: 1px solid #805cb4;
    padding: 25px 0 15px;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.second_section_div{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.h3{
    color: #ff6158;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: .5rem;
    line-height: 1.2;
}
.title1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconLink{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    padding: 0;
    border: 1px solid #ffffff !important;
    color: #ffffff;
    margin: auto 15px auto 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.icon{
    
    transition: all 0.4s ease-in-out 0s;
}

.iconLink:hover{
 background: #ff6158;
}

.third_section{
    background: #ff6158;
    color: #ffffff;
    margin-top: 30px;
}
.third_section_first_div{
    margin: 0;
    font-weight: 300;
    color: #ffffff;
    padding: 9px 10px;
    display: inline-block;
    font-size: 14px;
}

.title_link{
    font-weight: 300;
    color: #ffffff;
    padding: 9px 10px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
}