.first_div{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    height: 100%;
    max-width: 900px;
    padding: 30px 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
}

.first_div::before{
    background-image: url('http://sbtechnosoft.com/guidepro/images/man.png');
    background-repeat: no-repeat;
    background-position: center right 0;
    content: '';
    position: absolute;
    bottom: 0;
    background-size: auto 240px;
    width: 441px;
    right: 0;
    top: 0;
}

.h2{
    font-size: 43px;
    font-weight: 700;
    line-height: 60px;
    color: #3c2064;
    margin-top: 10px;
}

.img{
    transition: all 0.4s ease-out;
    width: 100%;
}

.thumb{
    overflow: hidden;
}

.thumb > img{
    transition: all 0.4s ease-out;
    width: 100%;
}

.thumb:hover > img{
    transform: scale(1.1);
}
.social_links{
    bottom: 0;
    position: absolute;
    transform: translate(-50%, 0);
    opacity: 0;
    /* visibility: hidden; */
    transition: all 0.4s ease-out;
}

.thumb:hover .social_links{
    bottom: 20px;
    opacity: 1;
    visibility: visible;
}

.link{
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 28px;
    transition: all 0.4s ease-out;
    background-color: #ff6158;
}

.staff_content{
    background-color: #fff;
    padding: 25px 0;
    position: relative;
    text-align: center;
    box-shadow: 0px 10px 30px 0px rgba(1, 25, 50, 0.04);
    align-content: center;
}

.staff_content > h3{
    font-size: 20px;
    margin-bottom: 2px;
    color: #002c5b;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

}

.staff_content > h4{
    color: #ff6158;
}