.first_div{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    height: 100%;
    max-width: 900px;
    padding: 30px 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
}

.first_div::before{
    background-image: url('http://sbtechnosoft.com/guidepro/images/man.png');
    background-repeat: no-repeat;
    background-position: center right 0;
    content: '';
    position: absolute;
    bottom: 0;
    background-size: auto 240px;
    width: 441px;
    right: 0;
    top: 0;
}

.h2{
    font-size: 43px;
    font-weight: 700;
    line-height: 60px;
    color: #3c2064;
    margin-top: 10px;
}

.img{
    transition: all 0.4s ease-out;
    width: 100%;
}

.thumb{
    overflow: hidden;
}

.thumb > img{
    transition: all 0.4s ease-out;
    width: 100%;
}

.thumb:hover > img{
    transform: scale(1.1);
}
.social_links{
    bottom: 0;
    position: absolute;
    transform: translate(-50%, 0);
    opacity: 0;
    /* visibility: hidden; */
    transition: all 0.4s ease-out;
}

.thumb:hover .social_links{
    bottom: 20px;
    opacity: 1;
    visibility: visible;
}

.link{
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 28px;
    transition: all 0.4s ease-out;
    background-color: #ff6158;
}

.staff_content{
    background-color: #fff;
    padding: 25px 0;
    position: relative;
    text-align: center;
    box-shadow: 0px 10px 30px 0px rgba(1, 25, 50, 0.04);
    align-content: center;
}

.staff_content > h3{
    font-size: 20px;
    margin-bottom: 2px;
    color: #002c5b;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

}

.staff_content > h4{
    color: #ff6158;
}


.count{
    margin-top: 80px;
    background: #ff6158;
    padding: 45px 0;
}

.count_h4{
    font-weight: 600;
    color: #ffffff;
    font-size: 53px;
    line-height: 53px;
    font-family: 'Poppins';
    margin: auto 0 auto 5px;
    text-align: center;
}
.count_span{
    display: block;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    color: #ffffff;
}
.count_div1{
    width: 0px;
    height: 68%;
    content: '';
    border-right: 1px solid #fbb9b6;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.slider_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ff6158;
    
}
.slider_h1{
    font-size: 19px;
    font-weight: 500;
    color: #ff6158;
    font-style: normal;
    margin-bottom: 2px;
}

.slider_p{
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.third_h3{
    color: #3c2064;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
}

.firstslider {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 60vh;
}

.firstslider span {
    padding: 20px;
    font-size: 20px;
    background: transparent;
    color: black;
    text-align: center;
}

.firstslider p {
    font-size: 80%;
    color: #555555;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
}

.button-89 {
    --b: 3px;
    /* border thickness */
    --s: 0.45em;
    /* size of the corner */
    --color: white;

    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),
            #0000 90deg,
            var(--color) 0) var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: 0.3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    font-size: 16px;
    width: 10%;
    height: 60px;
    margin-top: 5%;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: 0.05em;
}

.button-89:active {
    background: var(--color);
    color: #fff;
}

.animate_animated.animate_bounce {
    --animate-duration: 2s;
}

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

@media screen and (max-width: 900px) {
    .eachslideeffect {
        span {
            font-size: 15px;

            p {
                font-size: 25px;
            }

            h1 {
                font-size: 50px;
            }
        }
    }

    .button-89 {
        font-size: 15px;
        width: 40%;
        height: 60px;
        margin-top: 5%;
    }
}

@media screen and (max-width: 400px) {
    .button-89 {
        font-size: 15px;
        width: 50%;
        height: 60px;
        margin-top: 5%;
    }
}



