.first_div{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    height: 100%;
    max-width: 900px;
    padding: 30px 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
}

.first_div::before{
    background-image: url('http://sbtechnosoft.com/guidepro/images/man.png');
    background-repeat: no-repeat;
    background-position: center right 0;
    content: '';
    position: absolute;
    bottom: 0;
    background-size: auto 240px;
    width: 441px;
    right: 0;
    top: 0;
}

.h2{
    font-size: 43px;
    font-weight: 700;
    line-height: 60px;
    color: #3c2064;
    margin-top: 10px;
}

.img{
    transition: all 0.4s ease-out;
    width: 100%;
}
.third_h3{
    color: #3c2064;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 40px;
    width: 100%;
}

p{
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.57143;
    font-weight: 400;
    color: #5d5d5d;
}

.process{
    background-image: url('http://sbtechnosoft.com/guidepro/images/stars-small.png');
    background-color: #e9eaeb;
    margin-top: 80px;
}

.process_second_div{
    background-image: url('http://sbtechnosoft.com/guidepro/images/about/section2-img1.png');
    background-repeat: no-repeat;
    background-position: center right -150px;
    background-size: auto 100%;
    position: relative;
}

.trusted{
    width: 327px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 220px auto 0;
    left: 0;
    height: 241px;
}
.trusted > p{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    flex-flow: column;
    line-height: 48px;
    margin-bottom: 0;
    margin-top: 33px;
}

.count{
    margin-top: 80px;
    background: #ff6158;
    padding: 45px 0;
}

.count_h4{
    font-weight: 600;
    color: #ffffff;
    font-size: 53px;
    line-height: 53px;
    font-family: 'Poppins';
    margin: auto 0 auto 5px;
    text-align: center;
}
.count_span{
    display: block;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    color: #ffffff;
}
.count_div1{
    width: 0px;
    height: 68%;
    content: '';
    border-right: 1px solid #fbb9b6;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


.slider_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ff6158;
    
}
.slider_h1{
    font-size: 19px;
    font-weight: 500;
    color: #ff6158;
    font-style: normal;
    margin-bottom: 2px;
}

.slider_p{
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.third_h3{
    color: #3c2064;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
}